.container {
    display: flex;
    justify-content: start;
    margin-top: 100px;
}

.container table {
    width: 400px;
    column-count: 3;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-name {
    font-size: 25px;
    color: #f8a1a1;
    text-transform: uppercase;
    background: #e8e8e8;
    
}

table tr .label {
    width: 100px;
}

.table-content {
    background: #fcf9f9;
}

.table-content td input {
    outline: none;
}

.table-content td {
    height: 28px;
}

.table-content td p{
    margin: 4px;
}

.table-content #submit {
    cursor: pointer;
}

.message {
    margin: 20px 100px 0px 10px;
    color: red;
    flex: 1;
    position: relative;
}

#message-full-name {
    position: absolute;
    margin: 0;
    top: 18px;
}

#message-password {
    position: relative;
    margin: 0;
    bottom: -50px;
}


